
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  /* Animation */
  background: linear-gradient(45deg, #ff9a9e, #e2fac4, #c4d8fa, #fc9fe0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.search-container #contentList{
  padding-left: 0rem;
}